@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    font-family: 'Sarabun', sans-serif;
  }
}


/* Custom scrollbar styles */
.scrollbar-custom {
    scrollbar-width: thick;
    scrollbar-color: #dadada #ffffff;
  }
  
  .scrollbar-custom::-webkit-scrollbar {
    width: 12px;
  }
  
  .scrollbar-custom::-webkit-scrollbar-track {
    background-color: #ffffff;
  }
  
  .scrollbar-custom::-webkit-scrollbar-thumb {
    background-color: #dadada;
    border-radius: 12px;
  }

  